.body{
    background-color: darkslategrey;
    color: aqua;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    font-weight:bold;
    margin: 25px;
}

#image_1{
    width: 200px;
    height: 200px;
}